body, html {
    font-family: sans-serif;
    margin-left: 10px;
    margin-right: 10px;
 }
div {
    padding: 5px;
}
div.calendar{
    width: 95%;
    vertical-align: top;
    padding: 5px;
    background-color: lightgray;
    float: left;
    height: 520px;
}
div.month {
    height: 70%;
    width: 77%;
}
div.moviediv {
    font-size: 0.5em;
}
div.header {
    width: 95%;
    vertical-align: top;
    text-align: center;
    display: block;
    background-color:#599bb3;
    padding-top: 10px;
    font-weight: bold;
    font-size: 1.2em;
}
div.subheader {

    vertical-align: top;
    text-align: center;
    display: block;
    font-weight: bolder;
    margin: 0 auto;
    padding-bottom: 10px;
}
div.headerday {
    display: inline-block;
    text-align: center;
    width: 13.2%;
    height: 100%;
}
div.footer {
    background-color: lightgray;
    width: 95%;
    padding-bottom: 15px;
}
button {
    display: inline;
    width: 13%;
    height:20%;
    margin-left: 70px;
    margin-top: 15px;
    font-weight: bold;
    box-shadow: 0px 10px 14px -7px #276873;
    background-color:#599bb3;
    border-radius:10px;
    color:#ffffff;
    text-decoration:none;
    text-shadow: 1px  #3d768a;
}
button:focus {
       outline: 0;
}
button:hover {
    background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
    background-color:#408c99;
}
button:active {
    position:relative;
    top:1px;
}
.active {
    background-color: whitesmoke;
}
input {
    display: block;
    width: 200px;
    height: 50px;
    margin-left: 20px;
    margin-top: 20px;
}
div.sidebar {
    display: inline-block;
    float: right;
    border: 1px solid darkcyan;
    text-align: center;
    font-weight: bold;
    font-size: 0.8em;
    margin-left: 15px;
    margin-right: 15px;
    width: 18%;
    vertical-align: top;
    height: 450px;
 }
div.calendar > div.month > div.week > div.day {
    /* this is where month view day formatting goes */
    display: inline-block;
    text-align: right;
    width: 9.0%;
    height: 70px;
    border: 1px solid darkcyan;
    overflow: auto;
}
div.calendar > div.week > div.day {
    /* this is where week view day formatting goes */
    display: block;
    border: 1px solid darkcyan;
    width: 80%;
    height: 52px;
    margin-left: 20px;
    overflow: auto;
}
div.calendar > div.week{
    /* this is where week view week formatting goes */
    display: block;
    margin-left: 10px;
    width: 90%;
}
div.calendar > div.headerweek {
    width: 76%;
    background-color: lightblue;
    margin-left: 14px;
}
div.calendar > div.month > div.week {
    /* this is where month view week formatting goes */
    display: inline-block;
    margin-left: 3px;
    width: 1400px;
    height: 70px;
}
